<p class = comment_commente>
    <strong>Commenter:</strong>
    <%= comment.commenters %>
</p>

<p class = comment_body>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>

<p class = comment_time>
    <%= time_ago_in_words(comment.created_at) %>
</p>

<p> 
    <%= link_to 'Delete Comment', [comment.textbook, comment], 
                method: :delete, 
                data: { confirm: 'Are you sure?' } %> 
</p>
   