<p class = comment_commente>
    <strong style="font-size:15px">Commenter:</strong>
        <span style="font-family: Georgia;color:#97454a; font-size:15px">
        <%= comment.commenters %>
        </span>
</p>

<p class = comment_body>
    <strong style="font-size:15px">Comment:</strong>
        <span style="font-family: Georgia;color:#97454a; font-size:15px">
        <%= comment.body %>
        </span>
</p>

<p class = comment_time>
    <%= time_ago_in_words(comment.created_at) %>
</p>

<p> 
    <%= link_to 'Delete Comment', [comment.textbook, comment], 
                method: :delete, 
                data: { confirm: 'Are you sure?' } %> 
</p>
   