
<head>
  <meta charset="UTF-8">
  <title>SFU Book Club</title>
  <%= stylesheet_link_tag "welcome.scss" %>
  <div style="text-align:center;padding:50px;">
   <h1>Welcome to SFU Book Club</h1>
  </div>
</head>

<body>
</body>
</html>
