 <h3>What is SFU Book Club?</h3>
  <p style="font-size:14px;">SFU Book Club is a platform to buy and sell used textbooks. Textbooks are bought and sold directly from other students. SFU Book Club does not charge anything for using this site. </p>

<h3>Why do you choose us to buy textbooks?</h3>
 <p style="font-size:14px;">Our price is cheaper than the bookstore, and you can find many suggestions of the book that you want. We offer more choices in our SFU Book Club</p>

<h3>Why do you use us to sell your textbooks?</h3>
<p style="font-size:14px;">You can sell your old textbooks conveniently and fast. You can communicate with the customers to learn more about their ideas and what they are looking for. </p>

  <h3>How to buy a textbook?</h3>
  <p style="font-size:14px;">Textbooks are posted by other students from SFU. You can search for the desired textbook based on textbook name, author, or course number. From there you may contact and a message to the seller directly through email.</p>

  <h3>How to post a textbook for sale?</h3>
  <p style="font-size:14px;">From your own account, you may post textbooks for sale. Simply fill in the form stating the textbook name, author, course number, quality of textbook and price. You may also leave additional comments about the textbook if needed.</p>

  <h3>How to recieve the textbook?</h3>
  <p style="font-size:14px;">Type of payment transaction, when and where to recieve the textbook is completely upto the seller and buyer to decide.</p>
  
  
<footer >
<hr>

<div  class="text" style="text-align:right;color:#A52A2A;font-size:20px;" >Phone: 778-866-8888 </div>
<br> <div class="text" style="text-align:right;color:#A52A2A;font-size:20px;" >Email: sellbook@gmail.com  </div>
<br> <div class="text" style="text-align:right;color:#A52A2A;font-size:20px;" >Address: 9888 Cameron Street </div>
<br> <div class="text" style="text-align:right;color:#A52A2A;font-size:20px;" >Advisor: Mr. Li </div>


</footer>

<p1>
 <div  class="text" style="text-align:left;color:#A52A2A;font-size:20px;" >About Us </div>
 <br> <div class="text" style="text-align:left;color:#A52A2A;font-size:15px;" >We are an enthusiastic group of website developers that are always looking for new ways to improve our site. </div>
 <br> <div class="text" style="text-align:left;color:#A52A2A;font-size:15px;" >Leave us a message if you have any questions, concerns or suggestions for our website!  </div>
 <br> <div class="text" style="text-align:left;color:#A52A2A;font-size:15px;" >Team Members: Tommy &nbsp; Shelly &nbsp; Archer &nbsp; Emilie &nbsp; Francis</div> 
<br>
 
 
 </p1>
