 <h3>What is SFU Book Club?</h3>
  <p style="font-size:14px;">SFU Book Club is a platform to buy and sell used textbooks. Textbooks are bought and sold directly from other students. SFU Book Club does not charge anything for using this site. </p>

  <h3>How do I buy a textbook?</h3>
  <p style="font-size:14px;">Textbooks are posted by other students from SFU. You can search for the desired textbook based on textbook name, author, or course number. From there you may contact and a message to the seller directly through email.</p>

  <h3>How do I post a textbook for sale?</h3>
  <p style="font-size:14px;">From your own account, you may post textbooks for sale. Simply fill in the form stating the textbook name, author, course number, quality of textbook and price. You may also leave additional comments about the textbook if needed.</p>

  <h3>How will I recieve the textbook?</h3>
  <p style="font-size:14px;">Type of payment transaction, when and where to recieve the textbook is completely upto the seller and buyer to decide.</p>